{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126618105-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-126618105-1');
	</script>

    <script type="text/javascript">
        (function (c, l, a, r, i, t, y) {
            c[a] = c[a] || function () {
                (c[a].q = c[a].q || []).push(arguments)
            };
            t = l.createElement(r);
            t.async = 1;
            t.src = "https://www.clarity.ms/tag/" + i;
            y = l.getElementsByTagName(r)[0];
            y.parentNode.insertBefore(t, y);
        })(window, document, "clarity", "script", "bt3hucpnbm");
    </script>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Personal website of data analyst Pavel Klammert">
	<meta name="author" content="Pavel Klammert">
    <meta name="seznam-wmt" content="Am9Z7PaI9ZrDASGWQJwQgAdhruzwLVB7" />

	<link type="text/css" href="https://fonts.googleapis.com/css?family=Lobster|Montserrat|Raleway" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
	<link rel="shortcut icon" href="{% static 'mainpage/images/logo_p.ico' %}" />
	<title>Pavel Klammert</title>

	<!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
{#	<link href="{% static 'mainpage/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">#}
	<link href="{% static 'mainpage/css/font-awesome.min.css' %}" rel="stylesheet" media="screen">
	<link href="{% static 'mainpage/css/animate.css" rel="stylesheet' %}">

	<!-- Custom styles CSS -->
	<link href="{% static 'mainpage/css/style.css' %}" rel="stylesheet" media="screen">

    <script src="{% static 'mainpage/js/modernizr.custom.js' %}"></script>

</head>
<body>

	<!-- Preloader -->

	<div id="preloader">
		<div id="status"></div>
	</div>

	<!-- Home start -->

	<section id="home" class="pfblock-image screen-height">
    <div class="home-overlay"></div>
		<div class="intro">
			<div class="start">Hello, my name is Pavel Klammert and I am</div>
			<h1>Data analyst</h1>
			<div class="start">obtaining insights from data via interactive visualizations.</div>
		</div>

		<a href="#services">
			<div class="scroll-down">
				<span>
					<i class="fa fa-angle-down fa-2x"></i>
				</span>
			</div>
		</a>
	</section>

	<!-- Home end -->

	<!-- Navigation start -->

	<header class="header">

		<nav class="navbar navbar-custom" role="navigation">

			<div class="container">

				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#home">Pavel Klammert</a>
				</div>

				<div class="collapse navbar-collapse" id="custom-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#home">Home</a></li>
						<li><a href="#services">About me</a></li>
            <li><a href="#portfolio">Works</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</div>

			</div><!-- .container -->

		</nav>

	</header>

	<!-- Navigation end -->


  <!-- Services start -->

	<section id="services" class="pfblock pfblock-gray">
		<div class="container">
			<div class="row">

				<div class="col-sm-8">

					<div class="pfblock-header wow fadeInUp">
						<h2 class="pfblock-title">ABOUT ME</h2>
						<div class="pfblock-line"></div>
						<div class="pfblock-subtitle">

							<p>While getting my master's degree in <a href="http://kisk.phil.muni.cz/cs">Library and Information science</a>, I've found liking in spreadsheets.
                            For unknown reasons, I found joy in putting data into tables, writing formulas to analyze them and subsequently plotting them, with hopes of getting insights of
                                various issues.
                            </p>
							<p>Since then I've became experienced data analyst working with various tools, which enables me to dig deep into the data.
                                I prefer thorough over shallow, quality over quantity, and as such, I like to get
                                hands dirty (metaphorically) and make the data speak.
                            </p>
                            <p>
								In recent years, I've started gravitating more and more towards data science, as it's the field, where I can combine my love for data analysis with passion for programming.

                            </p>


 							<a href="https://www.linkedin.com/in/pavel-klammert-9500046b/" target="_blank" id="resume-effect"><i class="fa fa-3x fa-file-text-o" aria-hidden="true"></i> Click to view my resume.</a>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="pfblock-header wow fadeInUp">
						<img id="myphoto" src="{% static 'mainpage/images/me.jpg' %}" alt="Pavel Klammert" style="border-radius: 100%;filter:grayscale(30%);">
					</div>
				</div>
		</div><!-- .container -->

		<div class="skills col-xs-12">
				<h2 class="pfblock-title">MY SKILLS</h2>
				<div class="pfblock-line"></div>
            <h3 class="pfblock-title">Mastered</h3>
				<div class="row">

                    <div class="column">
                        <img id="powerbi" src="{% static 'mainpage/images/pbi.png' %}" alt="powerbi" height="128" width="128" title="PowerBI">
                    </div>
                    <div class="column">
                        <img id="excel" src="{% static 'mainpage/images/excel.png' %}" alt="excel" height="128" width="128" title="Excel">
                    </div>
                    <div class="column">
                        <img id="sql" src="{% static 'mainpage/images/sql_logo.png' %}" alt="sql" height="128" width="128" title="SQL">
                    </div>


				</div>
            <h3 class="pfblock-title">Proficient</h3>
				<div class="row">
                    <div class="column">
                        <img id="python" src="{% static 'mainpage/images/python.png' %}" alt="python" height="128" width="128" title="Python 3">
                    </div>
                    <div class="column">
                        <img id="tableau" src="{% static 'mainpage/images/tableu_logo.png' %}" alt="tableau" height="200%" width="200%" title="Tableau">
                    </div>
                    <div class="column">
                         <img id="scikitlearn" src="{% static 'mainpage/images/scikitlearn.png' %}" alt="scikitlearn"  height="128" width="128" title="Scikit-Learn">

                    </div>
				</div>
            <h3 class="pfblock-title">TRYING TO MASTER</h3>
				<div class="row">
                    <div class="column">
                        <img id="spark" src="{% static 'mainpage/images/Apache_Spark_logo.svg.png' %}" alt="apache_spark"  height="70%" width="70%" title="Spark">
                    </div>
                    <div class="column">
                        <img id="mxnet" src="{% static 'mainpage/images/mxnet_logo_2.png' %}" alt="mxnet" height="75%" width="75%" title="MXnet">
                    </div>
                    <div class="column">
                        <img id="tensorflow" src="{% static 'mainpage/images/tensorflow.png' %}" alt="tensorflow"  height="128" width="128" title="Tensorflow">
                    </div>
				</div>
			</div>
		</div>


	</section>

	<!-- Services end -->


	<!-- Portfolio start -->
    <div class="carousel slide multi-item-carousel" id="theCarousel">
	<section id="portfolio" class="pfblock">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<div class="pfblock-header wow fadeInUp">
						<h2 class="pfblock-title">My works</h2>
						<div class="pfblock-line"></div>
						<div class="pfblock-subtitle"></div>
					</div>
				</div>
			</div><!-- .row -->

              <div class="row">
                <div class="col-md-12">

                    <div class="carousel-inner">
                        {% for project in list_projects %}
{#                            TODO: why its not working#}
{#                            <div class="item{% if loop.first is True %}active{% endif %}">#}
                            <div class="item{% if  project.url == 'https://github.com/LavinaVRovine/hazard' %} active{% endif %}">

                                <div class="card col-xs-12 col-sm-4 col-md-4">
                                    <div class="grid wow zoomIn">
                                        <figure class="effect-bubba"><a href="{{ project.url }}" target="_blank">
                                            {% with 'mainpage/images/'|add:project.img_name as image_static %}
                                                    <img class="card-img-top" src="{% static image_static %}"></a>
                                            {% endwith %}
                                        </figure>

                                        <div class="card-block">
                                            <h2 class="card-title">{{ project.title }}</h2>
                                            <p class="card-text">{{ project.description }}</p>
                                            <div class="tools">
                                                {% for tool in project.tools.split %}
                                                    <span>{{ tool }}</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% endfor %}
                    </div>
                    <a class="left carousel-control hidden-xs" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                    <a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
                  </div>
                </div>
              </div>
        </div>




{#            <div class="row">#}
{#				{% for project in list_projects|slice:"3" %}#}
{#					<div class="card col-xs-12 col-sm-5 col-md-5">#}
{#							<div class="grid wow zoomIn">#}
{##}
{#								<figure class="effect-bubba"><a href="{{ project.url }}" target="_blank">#}
{#									{% with 'mainpage/images/'|add:project.img_name as image_static %}#}
{#											<img class="card-img-top" src="{% static image_static %}"></a>#}
{#									{% endwith %}#}
{#								</figure>#}
{##}
{#								<div class="card-block">#}
{#									<h2 class="card-title">{{ project.title }}</h2>#}
{#									<p class="card-text">{{ project.description }}</p>#}
{#									<div class="tools">#}
{#										{% for tool in project.tools.split %}#}
{#											<span>{{ tool }}</span>#}
{#										{% endfor %}#}
{#									</div>#}
{#								</div>#}
{##}
{#							</div>#}
{#						</div>#}
{#					{% endfor %}#}
{#				</div>#}
{#		</div><!-- .contaier -->#}

	</section>

	<!-- Portfolio end -->


	<!-- CallToAction start -->

	<section class="calltoaction">
		<div class="container-fluid">

			<div class="row">

				<div class="col-md-12 col-lg-12">
					<h2 class="wow slideInRight" data-wow-delay=".1s">ARE YOU READY TO START?</h2>
					<div class="calltoaction-decription wow slideInRight" data-wow-delay=".2s">
						I'm currently available for freelance contracts, so get in touch:
					</div>
				</div>

				<div class="col-md-12 col-lg-12 calltoaction-btn wow slideInRight" data-wow-delay=".3s">
					<a href="#contact" class="btn btn-lg">Get in touch</a>
				</div>

			</div><!-- .row -->
		</div><!-- .container -->
	</section>

	<!-- CallToAction end -->


	<!-- Contact start -->

	<section id="contact" class="pfblock">
		<div class="row">

			<div class="col-sm-6 col-sm-offset-3">

				<div class="pfblock-header">
					<h2 class="pfblock-title">Contact</h2>
					<div class="pfblock-line"></div>
					<div class="pfblock-subtitle">
						I'm currently accepting new projects and would love to hear about yours. Please take a few minutes to tell me about it. After you introduce yourself and your project, I'll get it touch with you to schedule a time to chat.
					</div>
				</div>

			</div>

		</div><!-- .row -->

		<div class="row">

			<div class="col-sm-6 col-sm-offset-3">
				{% include 'mainpage/contact_form.html' %}
			</div><!-- .row -->

		</div><!-- .container -->
	</section>

	<!-- Contact end -->

	<!-- Footer start -->

	<footer id="footer">
		<div class="container">
			<div class="row">

				<div class="col-sm-12">

					<ul class="social-links">
						<li><a href="https://www.linkedin.com/in/pavel-klammert-9500046b/" class="wow fadeInUp" data-wow-delay=".1s" target="_blank" title="linkedin"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="https://github.com/LavinaVRovine" class="wow fadeInUp" data-wow-delay=".2s" target="_blank" title="github"><i class="fa fa-github"></i></a></li>
						<li><a href="mailto:pavelklammert@gmail.com" class="wow fadeInUp" data-wow-delay=".4s" title="mail"><i class="fa fa-envelope"></i></a></li>
						<li><a href="skype:noobzor8?chat" class="wow fadeInUp" data-wow-delay=".5s" target="_blank" title="skype"><i class="fa fa fa-skype"></i></a></li>
                        <li><a href="https://degreed.com/lavinavrovine" class="wow fadeInUp" data-wow-delay=".5s" target="_blank" title="degreed"><i class="fa fa fa-graduation-cap"></i></a></li>

					</ul>

					<p class="copyright"> Feel free to email me, or visit my GitHub and LinkedIn pages.</p>
                    <p class="copyright"> Original template accessible at Vlad's <a href="https://github.com/VladislavMoroshan/Django-personal-website">GitGub</a></p>
					<p class="heart">Made with <span class="fa fa-heart fa-2x animated pulse"></span> in Brno, Czechia 2018</p>

				</div>
            <!-- .row -->
			</div>

		</div><!-- .container -->

        <section class="worth-visiting">
                <h4>Friends worth visiting</h4>
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="worth-visiting">
                            <li><a href="https://excelexpert.cz/" class="wow fadeInUp" data-wow-delay=".1s" target="_blank" title="kudelka">Jan Kudělka</a> </li>
                            <li><a href="http://www.standajilek.cz/" class="wow fadeInUp" data-wow-delay=".1s" target="_blank" title="jilek">Standa Jílek</a> </li>
                            <li><a href = https://www.skolenipowerbi.cz/o-mne/  class="wow fadeInUp" data-wow-delay=".1s" target="_blank" title="mayer">Honza Mayer</a></li>
                        </ul>
                    </div>
                </div>
            </section>
	</footer>

	<!-- Footer end -->


	<!-- Javascript files -->

	<script src="{% static 'mainpage/js/jquery-1.11.1.min.js' %}"></script>
	<script src="{% static 'mainpage/bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'mainpage/js/jquery.parallax-1.1.3.js' %}"></script>
	<script src="{% static 'mainpage/js/imagesloaded.pkgd.js' %}"></script>
	<script src="{% static 'mainpage/js/jquery.sticky.js' %}"></script>
	<script src="{% static 'mainpage/js/smoothscroll.js' %}"></script>
	<script src="{% static 'mainpage/js/wow.min.js' %}"></script>
  <script src="{% static 'mainpage/js/waypoints.min.js' %}"></script>
  <script src="{% static 'mainpage/js/jquery.cbpQTRotator.js' %}"></script>
	<script src="{% static 'mainpage/js/custom.js' %}"></script>

</body>
</html>
